:root {
    --highlight: #00c4e6;
    --highlight-dark: #0098b3;
}


body {
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Tables ----------------------------------------------------- */
.outer-table {
    margin: auto;
}

#table1,
#table2 {
    margin: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    background-color: red;   
}

th, td {
    padding: 10px;
    text-align: center;
    height: 20px;
    width: 20px;
}


/* Create Game ----------------------------------------------------- */
.card{
    aspect-ratio: 1;
    height: 300px;
    background-color: rgba(128, 128, 128, 0.674);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(190, 190, 190, 0.674);
    border-radius: 10px;
}







.create {
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.2s linear;
}

.create:hover {
    color: var(--highlight-dark);
    box-shadow: 3px 3px 15px 1px var(--highlight);
}